{% extends "base_generic.html" %}

{% block content %}
<h1>Delete Book: {{ book }}</h1>

{% if book.bookinstance_set.all %}

<p>You can't delete this book until all its books instances have been deleted:</p>
<ul>
  <li><a href="{% url 'book-detail' book.pk %}">{{ book }}</a>
  ({{ book.bookinstance_set.all.count }})
  </li>
</ul>

{% else %}
<p>Are you sure you want to delete the book?</p>

<form action="" method="post">
  {% csrf_token %}
  <input type="submit" action="" value="Yes, delete.">
</form>
{% endif %}

{% endblock %}